<!DOCTYPE html>
<html lang="en">
<head>
    <title>Loan Application System</title>
</head>
<body>
    <h1> Login to Loan Application System</h1>
    {% if form.errors %}
        <p>Wrong username and password. Try again.</p>
    {% endif %}

    <div class = "form">
        <form method="post" action="{% url 'login' %}">
          {% csrf_token %}
            <label for="uname"><b>{{form.username.label_tag}}</b></label>
            {{ form.username }}
         </br>
          <label for="upass"><b>{{ form.password.label_tag }}</b></label>
            {{ form.password }}
          <input type="submit" value="login">
          <input type="hidden" name="next" value="{{ next }}">
        </form>

</body>

</html>